<!DOCTYPE html>
<html>
<head>
  <title>Caity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <link href="../css/froala editor.min.css" rel="stylesheet" type="text/css">
  <script src="../js/froala editor.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-content">
    <div class = "navbar" data-ui = "nav">
      <div class= "navbar-left">
        <div class= "nav-link"><a data-scroll href = "/#header">HOME</a></div>
        <div class= "nav-link"><a data-scroll href = "/#offset">ABOUT</a></div>
        <div class= "nav-link"><a data-scroll href = "/#offset2">CONTACT</a></div>
      </div>

      <div class= "navbar-right">
        <div id= "facebook" class="nav-item" >
          <a class= "nav-logo" href = "https://www.facebook.com/caity.carey">
            <i class= "fa fa-facebook-square"></i></a>
          </div>
          <div id= "google" class= "nav-item" >
            <a class= "nav-logo" href = "https://plus.google.com/u/0/+JoshJeong22">
              <i class= "fa fa-google-plus"></i></a>
            </div>
            <div id= "linkedin" class= "nav-item" >
              <a class= "nav-logo" href = "www.linkedin.com/in/jcjeong/">
                <i class= "fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <%= yield %>

        </body>
        </html>
