@font-face {
  font-family: 'thiamine';
  src: url("<%= asset_path 'assets/thiamine.otf' %>");
}

h1 a {
  padding-top: 2.15em;
  font-family: 'thiamine';
  color: white;
  font-size: 1em;
}

#table tr {
  color: white;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  padding: 10px;
}

#table td {
  color: yellow;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  padding: 6px;
}

#table th {
  font-size: 24px;
  color: yellow;
}

#table {
  float: left;
  background-color: rgba(0,0,0,0.8);
  margin: 10px;
  display: inline-block;
  margin-top: 300px;
  padding: 10px;
  border-spacing: 10px;
  border-collapse: separate;
}

#post {
  float: right;
  display: inline-block;
}

#show, #edit, #new-blog, #post {
  margin: auto;
  margin-top: 300px;
  background-color: rgba(0,0,0,0.8);
  width: 40em;
  margin-bottom: 50px;
  padding: 10px;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#show {
  margin-bottom: 0px;
}

.title, .header {
  font-size: 4em;
  color: yellow;
}

.text {
  font-size: 1.5em;
  text-align: left;
}

.new {
  float: left;
  padding: 7px;
  font-size: 16px;
  font-weight: bold;
}

#edit-link {
  padding: 20px;
}

.text-field {
  padding: 10px;
}

textarea {
  width: 500px;
  height:500px;
  margin-right: auto;
  margin-left: auto;
}

#all-comments {
  text-align: left;
  color: black;
  background-color: white;
  width: 40.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  padding:7px;
}

#all-comments-header {
  font-size: 24px;
  color: black;
}

.comments {
  color: black;
  padding: 5px;
}

#picture {
  margin-top: 20px;
}

#table-posts {
  display: inline-block;
}

#add-comment, #all-comments-header {
  font-weight: bold;
  margin: 10px;
  font-size: 1.5em;
  text-align: center;
}

label {
  color: white;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.imgbutton {
  background: #d11717;
  border: 2px solid #eee;
  height: 38px;
  width: 125px;
  margin: 50px 0 0 50px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 38px;
  /*Rounded Corners*/
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;

 /*Gradient*/
 background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

 /*Shadow*/
 -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}