@font-face {
  font-family: 'thiamine';
  src: url("<%= asset_path 'assets/thiamine.otf' %>");
}

h1 a {
  padding-top: 2.15em;
  font-family: 'thiamine';
  color: white;
  font-size: 1em;
}

tr {
  color: white;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

td {
  color: yellow;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#table {
  float: left;
  background-color: black;
  opacity: 0.8;
  margin: 10px;
}

#post {
  float: right;
}

#show, #edit, #new-blog, #post {
  margin: auto;
  margin-top: 300px;
  background-color: black;
  opacity: 0.8;
  width: 40em;
  margin-bottom: 50px;
  padding: 10px;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#show {
  margin-bottom: 0px;
}

.title, .header {
  font-size: 4em;
  color: yellow;
}

.text {
  font-size: 1.5em;
  text-align: left;
}

.new {
  float: left;
  padding: 7px;
  font-size: 16px;
  font-weight: bold;
}

#edit-link {
  padding: 20px;
}

.text-field {
  padding: 10px;
}

textarea {
  width: 500px;
  height:500px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#all-comments {
  text-align: left;
  color: black;
  background-color: white;
  width: 41em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;

}

#all-comments-header {
  font-size: 24px;
  color: black;
}

.comments {
  color: black;
}

img {
  opacity: 1;
}