#comment_body {
  height: 3em;
  border: 3px inset;
}

.comments {
  color: black;
}

label {
  color: black;
}

#comment_commenter {
  color: black;
  outline: 1;
  border: 3px inset;
}

#comments-comment p {
  color: black;
  padding: 7px;
}

#delete-button {
  background-color: black;
  text-align: right;
}

#commenter-name {
  font-weight: bold;
  display: inline-block;
}