
</div>
<div id="header">
</div>
<h1>Caity Carey</h1>
<!-- </div> -->
<div id="offset">
</div>
<section id = "about">
<!--     <div class="curtainContainer">
      <div class="curtain">
      </div> -->
      <h3 id="about-me">About Me</h3>
      <p id="about-content">
        "Don't Stop Me Now" by Queen is definitely my theme song! I'm a pretty random person, anything else you wanna know just ask!</p>
      </section>
      <div id="offset2">
      </div>
      <section class = "section" id = "contact">

        <div id="contact-container"
        data--3100-end="opacity: 0"
        data--3300-end="opacity: 1">
        <h2 id="name">
          Caitlin Carson Carey
        </h2>
        <h3 id="email">
          caity.carey@gmail.com
          <p class="link"><%= link_to 'Check Out My Blog!', controller: 'articles' %></p>
        </h3>
      </div>
    </section>

    <footer>
    </footer>