
        </div>
        <div id="header">
          <h1>Caity Carey</h1>
        </div>
        <div id="offset">
        <section id = "about">
          <div class="curtainContainer">
            <div class="curtain"
            data-1700-start="height: 1%; top: -10%; opacity: 0"
            data-2000-start="height: 100%; top: 0.1%; opacity: 0.6;"
            data-2300-start="opacity: 0.8;"
            data-anchor-target="#about">
          </div>
          <h3 id="about-me">About Me</h3>
          <p id="about-content"
          data-2350-start="opacity: 0;"
          data-2500-start="opacity: 1;"
          data-2800-start="opacity: 1;"
          data-2900-start="opacity: 0;" >
          "Don't Stop Me Now" by Queen is definitely my theme song! I'm a pretty random person, anything else you wanna know just ask!</p>
        </div>
      </section>
    </div>
      <section class = "section" id = "contact">

        <div id="contact-container"
        data--3100-end="opacity: 0"
        data--3300-end="opacity: 1">
        <h2 id="name">
          Caitlin Carson Carey
        </h2>
        <h3 id="email">
          caity.carey@gmail.com
          <p class="link"><%= link_to 'Check Out My Blog!', controller: 'articles' %></p>
        </h3>
      </div>
    </section>

  <footer>
  </footer>